# dependencies
node_modules/

# production build
build/

# misc
.DS_Store
.env
.env.*.local

# testing
coverage/

# IDE/editor
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
